html, body {
    height: 100%;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

html {
    font-family: $font1;
}

body {
}

.color-line {
    background: linear-gradient(90deg, $brand-color, $brand-color2);
    width: 100%;
    height: 10px;
    position: absolute;
    top:0;
    z-index:15;
    display: none;
}

.main {
    height: 100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.main-bg-image {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
    height: 100%;
    height: 100%;
    width: 100vw;
    width: 100vw;
    background: $background-image;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: grayscale(1) contrast(1.7) brightness(.6);
    -moz-filter: grayscale(1) contrast(1.7) brightness(.6);
    -o-filter: grayscale(1) contrast(1.7) brightness(.6);
    -ms-filter: grayscale(1) contrast(1.7) brightness(.6);
    filter: grayscale(1) contrast(1.7) brightness(.6);
    @include background-scale;
}

.main-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    height: 100%;
    height: 100%;
    width: 100vw;
    width: 100vw;
    background: $background-color;
    opacity: .1;
}

.circle {
    position:relative;
    color: $light-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-shadow: 2px 2px 3px #000;
    z-index:10;
    min-height:500px;
    min-width:500px;
    height:500px;
    width:500px;
    transition: 1s ease;
    p {
        margin: 0;
        padding: 0;
    }
    h2 {
        text-align:center;
        font-family: $font2;
        font-size: 4em;
        margin: 0;
        padding:0;
    }
}

.circle:after {
    position: absolute;
    top:0;
    left:0;
    content: "";
    height: 100%;
    width: 100%;
    border: 3px solid;
    z-index:-2;
    border-image-source: linear-gradient(45deg,$circle-color 25%, rgba(255, 255, 255, 0) 75%);
    border-image-slice: 1;
    -webkit-transform: rotate($rotate);
    -moz-transform: rotate($rotate);
    -o-transform: rorate($rotate);
    transform: rotate($rotate);
    @include animate-scale;
}

.numbers {
    display: inline;
    text-align: center;
}

.inline-numbers {
    display: inline-block;
    font-size: 2em;
    font-family: $font2;
    margin: 10px;
}

.smalltext {
    font-size: .5em;
}

.days {
    display: inline;
    font-family: $font2;
    font-size: 10em;
    margin: 0;
    padding: 20px;
    line-height:0;
}

.large-text {
    font-size: 4em;
}

.subscribe {
    margin-top: 35px;
    p {
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: Roboto;
        font-size: 1.5em;
        text-transform: capitalize;
        text-shadow: 2px 2px 10px #000;
    }
}

.fa-input {
    font-family: Roboto, 'Font Awesome 5 Free';
    font-weight: 900;
}

input {
    background: none;
    padding: 10px;
    border: 2px solid $light-color;
    color: $light-color;
    font-family: $font3;
    font-size: 1em;
}

input[type=text] {
}

input[type=submit] {
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $placeholder-color;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $placeholder-color;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $placeholder-color;
}
:-moz-placeholder { /* Firefox 18- */
  color: $placeholder-color;
}
@media only screen and (min-width: 900px) {
    .circle {
        height:600px;
        width:600px;
    }
    .circle:after {
    }
}
// IE11 - Disables bg animation.
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .main-bg-image {
        background-attachment: local;
        animation-duration: 0;
    }
}
// EDGE post Creators Update - Transform Glitch, looks same as Chrome
@supports (-ms-ime-align:auto) {
    .main-bg-image {
        background-attachment: scroll;
    }
}
