$background-color: linear-gradient(45deg, #a9ff00, #8dff8d);
$background-image: url($baseurl + "/assets/images/mountains.jpg");
$circle-color: #cdddc1;
$brand-color: #7db599;
$font1: 'Pacifico', cursive;
$font2: 'Kaushan Script', cursive;
$font3: Roboto;
$light-color: #efefef;
$placeholder-color: #efefef;
$rotate: -45deg;
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Pacifico|Roboto:400,700');
