<div class="color-line">
</div>

    <div class="main-bg">
    </div>
<div class="main">
    <div class="circle">
        <div id="clockdiv" class="numbers">
            <div>
                <span class="days"></span>
                <div class="large-text"><p>Days</p></div>
            </div>
            <div class="inline-numbers">
                <span class="hours"></span>
                <div class="smalltext"><p>Hours</p></div>
            </div>
            <div class="inline-numbers">
                <span class="minutes"></span>
                <div class="smalltext"><p>Minutes</p></div>
            </div>
            <div class="inline-numbers">
                <span class="seconds"></span>
                <div class="smalltext"><p>Seconds</p></div>
            </div>
            <div class="subscribe">
                <input type="text" placeholder="Email Address">
                <input type="submit" value="Subscribe">
            </div>
        </div>
    </div>
</div>
